<!-- (input)="method = $event.target.value" -->
<mat-radio-group aria-label="Select an option" style=" margin-left: 5px;" (input)="onSelectMethod($event)">
    <mat-radio-button value="מזומן"  style="width: 20px; margin-top: 20px;">
      <p class="radio-button-label" style="position: relative; top: -20px; right: 40px;">
        מזומן
      </p>
     </mat-radio-button>
    <mat-radio-button value="דיירקט" style=" width: 20px; margin-left: 40px; margin-right: 40px;" >
      <p class="radio-button-label" style=" position: relative; top: -20px; right: 40px;">
        דיירקט
      </p>
    </mat-radio-button>
    <mat-radio-button value="אשראי" style="width: 20px">
      <p class="radio-button-label" style="position: relative; top: -20px; right: 40px;">
        אשראי
      </p>
    </mat-radio-button>
  </mat-radio-group>