
<form  #expenseForm="ngForm"  class="example-form" style="margin-left: 40px; margin-right: 40px; text-align: center; margin-top: 20px;" >
    <div class="tst">
        <mat-form-field class="example-full-width" appearance="outline" style="text-align: right" (input)="sum = $event.target.value">
            <mat-label>סכום</mat-label>
            <input  type="number" matInput >
          </mat-form-field>
    </div>
    <div>
      <mat-form-field class="category-select" appearance="outline" style="text-align: right">
        <mat-label>קטגוריה</mat-label>
        <mat-select [(value)]="selectedCategory" >
          <mat-option *ngFor="let category of categorys" [value]="category" style="text-align: right">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-select-options (methodSelected)="setMethod($event)"></app-select-options>
  </form>  
  
  <div style="text-align: center; margin-top: 30px;">
    <button (click)=" onSubmit()"  mat-raised-button color="primary" >שלח</button>
  </div>

  <div class="scroll-list-content">
    <app-scroll-list ></app-scroll-list>
  </div>


  